@import "modules/base";

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  background-color: rgb(143,210,249);
}

canvas#main-canvas {
  width: 100%;
  height: 100%;
}

#overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  h1 {
    margin-left: 1em;
  }
  #pauseButton{
    margin-left: 2em;
  }
}


.hidden {
  visibility: hidden;
}



div#start, div#pause {
  position: absolute;
  background-color: rgba(0,0,0,.65);
  color: #EEE;
  text-algin: center;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: center;
}

#pause h1 {
  font-size: 5em;
}
