@import "modules/base";

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  background-color: rgb(143,210,249);
}

canvas#main-canvas {
  width: 100%;
  height: 100%;
}

div {
  margin: 0 auto;
  text-align: center;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  h1 {
    margin-left: 1em;
    text-align: left;
  }
  #pauseButton{
    margin-left: 2em;
  }
}

button {
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 25px 80px;
  display: inline-block;
  margin: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  background: #cb4e4e;
  color: #fff;
  box-shadow: 0 6px #ab3c3c;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
  @include border-radius(5px);
}


.hidden {
  visibility: hidden;
}



div#start, div#pause {
  position: absolute;
  background-color: rgba(0,0,0,.65);
  color: #EEE;
  text-algin: center;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: center;
}

div#start {
  h1{
    margin: 0 auto;
  }

}

#pause h1 {
  font-size: 5em;
}
